#comments {
  padding: 2em 0em;
}

#comments > .comment {
  margin: 1em 1em 0em 0em;
}

/* TODO: put the date on the right side */
#comments > .comment > .date {
  text-align: end;
}

#comments > .comment > .user::after {
  content: " said:";
}

#comments > .comment > p {
  padding: 1em;
  margin-top: 1em;
  background-color: #edeff0;
}

#comments > .comment > p::before {
  content: "\201C";
  font-size: 2em;
  color: grey;
}

#comments > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 1em;
}

#comments > form > h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#comments > form input[name="username"] {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#comments > form input[name="email"] {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#comments > form textarea[name="comment"] {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#comments > form > button {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}
