body {
  width: 60em;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto 1fr auto;
}

body > header {
  grid-area: 1 / 1 / 2 / 3;
}

#signup {
  display: flex;
  justify-content: end;
}

#menu {
  grid-area: 2 / 1 / 3 / 2;
}

#menu ul {
  display: flex;
}

#menu ul li {
  flex-grow: 1;
}

#menu ul li a {
  display: block;
}

#related {
  grid-area: 2 / 2 / 5 / 3;
}

#news {
  grid-area: 3 / 1 / 4 / 2;
}

#news > article > header {
  position: absolute;
}

#news > article > footer {
  display: flex;
}

#news > article > footer > .author {
  flex-grow: 1;
}

body > footer {
  grid-area: 4 / 1 / 5 / 3;
}
