body {
  width: 60em;
  margin: auto;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto 1fr auto 1fr;
}

body > header {
  grid-area: 1 / 1 / 2 / 3;
}

#signup {
  display: flex;
  justify-content: end;
}

#menu {
  grid-area: 2 / 1 / 3 / 2;
}

#menu ul {
  display: flex;
  flex-direction: row;
}

#menu ul li a {
  display: block;
}

#related {
  grid-area: 2 / 2 / 5 / 3;
}

#news > article > header {
  position: absolute;
}

#news {
  grid-area: 3 / 1 / 4 / 2;
}

body > footer {
  grid-area: 4 / 1 / 5 / 3;
}
