@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body > header {
  background-color: #046dd5;
  padding: 1em;
  color: white;
}

#signup > a:first-child {
  padding-right: 1em;
  margin-right: 1em;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ffffff;
}

#menu ul {
  list-style: none;
  margin-bottom: 1em;
  background-color: #ffffff;
}

#menu ul li {
  border-top-style: solid;
  border-top-width: 5px;
  width: 100%;
  padding: 0.8em;
  text-align: center;
}

#menu ul li:nth-child(1) {
  border-color: #e1493e;
}

#menu ul li:nth-child(2) {
  border-color: #8aba56;
}

#menu ul li:nth-child(3) {
  border-color: #5b4282;
}

#menu ul li:nth-child(4) {
  border-color: #ff8932;
}

#menu ul li:nth-child(5) {
  border-color: #18b7e9;
}

#menu ul li:nth-child(6) {
  border-color: #e84c8b;
}

#menu ul li a {
  color: black;
  padding: 0.25em 0.5em;
  text-align: center;
}

#menu input {
  display: none;
}

#related {
  background-color: #2a2f33;
  padding: 1em;
  color: white;
}

#related > article > h1 {
  padding: 1em 0;
}

#news a:hover {
  color: #2a2f33;
  background-color: white;
}

#news > article {
  margin-bottom: 1em;
}

#news > article > header {
  font-size: 1.5em;
  text-shadow: 3px 2px 4px #2a2f33;
  padding-left: 1em;
  padding-top: 1em;
  max-width: 15vw;
}

#news > article > img {
  width: 100%;
  height: auto;
}

#news > article > p:first-of-type::first-letter {
  font-size: 2em;
}

#news > article > p {
  margin-bottom: 1em;
}

#news > article > footer {
  background-color: #e1493e;
}

#news > article > footer > a {
  text-decoration: underline;
}

.author::before {
  content: "By ";
}

.date {
  margin: 0 1em;
}

.comments::after {
  content: " comments";
}

body > footer {
  background-color: #2a2f33;
}

footer {
  padding: 1em;
  color: white;
}

footer a {
  text-decoration: underline;
}

a {
  color: white;
}

a:not(footer a) {
  text-decoration: none;
}
